# Python
__pycache__/
*.py[cod]
*.egg-info/

# Envs
.env
.venv/

# Data & outputs
data/processed/*
!data/processed/README.md
data/raw/*
!data/raw/README.md
artifacts/
data/state/*

# Notebooks & OS cruft
.ipynb_checkpoints/
.DS_Store
Thumbs.db

